.contantus_section
{
    width: 100vw;
    height: 100vh;
    background-image: url('../res/background.jpeg'); /* Adjust the path to your background image */
    background-size: cover;
    background-position: center;
}