.DarkSideNav
{
    height: 82vh;
    width: auto;
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 2.4rem;
}

.mdi--instagram-dark {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: transform 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
}

.pajamas--twitter-dark {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: transform 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000000' d='M9.294 6.928L14.357 1h-1.2L8.762 6.147L5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05zM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977l.538.775l4.491 6.47h-1.843z'/%3E%3C/svg%3E");
}

.gg--facebook-dark {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: transform 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M9.198 21.5h4v-8.01h3.604l.396-3.98h-4V7.5a1 1 0 0 1 1-1h3v-4h-3a5 5 0 0 0-5 5v2.01h-2l-.396 3.98h2.396z'/%3E%3C/svg%3E");
}




.mdi--instagram-dark:hover {
    transform: scale(1.2); /* Scale the element to 1.2 times its original size */
}

.pajamas--twitter-dark:hover {
    transform: scale(1.2); /* Scale the element to 1.2 times its original size */
}

.gg--facebook-dark:hover {
    transform: scale(1.2); /* Scale the element to 1.2 times its original size */
}