.darkfooter
{
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    width: 32vw;
    bottom: 0;
    position: fixed;
    z-index: 100;
    height: auto; 
    margin-left: 2.4rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.h3dark
{
    color: black;
}