/* Import the Sora font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');

/* Ensure dark mode */
body {
    font-family: 'Sora', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.black
{
    color: black;
}

h1
{
    margin: 0;
}

/* General styles for h3 elements */
h3 {
    font-size: medium;
    font-weight: normal;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
}

/* Dark mode styles */
.dark-mode h3 {
    color: #ffffff;
}

/* Light mode styles */
.light-mode h3 {
    color: #000000;
}

/* Hover effect for h3 elements */
h3:hover {
    transform: scale(1.2); /* Scale the element to 1.2 times its original size */
} 



/* Transition Effect */
.slide-in
{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    transform-origin: bottom;
}


.slide-out
{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    transform-origin: top;
}

/* Transition Effect */