.header {
    width: 100vw;
    display: grid;
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    height: auto; 
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
}


.logo
{
    width: auto;
    max-height: 4rem;
    margin-left: 2.4rem;
    object-fit: contain;
    cursor: pointer;
}